<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,268},{145,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,59}}</string>
                <key>sourceSize</key>
                <string>{145,59}</string>
            </dict>
            <key>spin/player1_spin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,567},{109,132}}</string>
                <key>offset</key>
                <string>{-50,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{109,132}}</string>
                <key>sourceSize</key>
                <string>{261,186}</string>
            </dict>
            <key>spin/player1_spin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,356},{131,132}}</string>
                <key>offset</key>
                <string>{-39,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{131,132}}</string>
                <key>sourceSize</key>
                <string>{261,186}</string>
            </dict>
            <key>spin/player1_spin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,787},{109,130}}</string>
                <key>offset</key>
                <string>{-48,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,11},{109,130}}</string>
                <key>sourceSize</key>
                <string>{261,186}</string>
            </dict>
            <key>spin/player1_spin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,787},{115,130}}</string>
                <key>offset</key>
                <string>{-23,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,11},{115,130}}</string>
                <key>sourceSize</key>
                <string>{261,186}</string>
            </dict>
            <key>spin/player1_spin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{117,132}}</string>
                <key>offset</key>
                <string>{-46,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,10},{117,132}}</string>
                <key>sourceSize</key>
                <string>{261,186}</string>
            </dict>
            <key>spin/player1_spin_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,489},{117,132}}</string>
                <key>offset</key>
                <string>{-56,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{117,132}}</string>
                <key>sourceSize</key>
                <string>{261,186}</string>
            </dict>
            <key>spin_fast/player1_spin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{159,132}}</string>
                <key>offset</key>
                <string>{-51,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{159,132}}</string>
                <key>sourceSize</key>
                <string>{261,186}</string>
            </dict>
            <key>spin_fast/player1_spin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,136},{157,132}}</string>
                <key>offset</key>
                <string>{-46,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{157,132}}</string>
                <key>sourceSize</key>
                <string>{261,186}</string>
            </dict>
            <key>spin_fast/player1_spin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{159,130}}</string>
                <key>offset</key>
                <string>{-37,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{159,130}}</string>
                <key>sourceSize</key>
                <string>{261,186}</string>
            </dict>
            <key>spin_fast/player1_spin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{159,130}}</string>
                <key>offset</key>
                <string>{-37,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{159,130}}</string>
                <key>sourceSize</key>
                <string>{261,186}</string>
            </dict>
            <key>spin_fast/player1_spin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,134},{157,132}}</string>
                <key>offset</key>
                <string>{-31,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{157,132}}</string>
                <key>sourceSize</key>
                <string>{261,186}</string>
            </dict>
            <key>stand/player1_stand_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,329},{117,134}}</string>
                <key>offset</key>
                <string>{-56,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{117,134}}</string>
                <key>sourceSize</key>
                <string>{261,186}</string>
            </dict>
            <key>stand/player1_stand_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,448},{117,132}}</string>
                <key>offset</key>
                <string>{-56,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{117,132}}</string>
                <key>sourceSize</key>
                <string>{261,186}</string>
            </dict>
            <key>stand/player1_stand_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{117,134}}</string>
                <key>offset</key>
                <string>{-56,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{117,134}}</string>
                <key>sourceSize</key>
                <string>{261,186}</string>
            </dict>
            <key>stand/player1_stand_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{117,132}}</string>
                <key>offset</key>
                <string>{-56,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{117,132}}</string>
                <key>sourceSize</key>
                <string>{261,186}</string>
            </dict>
            <key>throw/player1_throw_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,448},{95,112}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,28},{95,112}}</string>
                <key>sourceSize</key>
                <string>{261,186}</string>
            </dict>
            <key>throw/player1_throw_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,787},{123,116}}</string>
                <key>offset</key>
                <string>{-30,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,26},{123,116}}</string>
                <key>sourceSize</key>
                <string>{261,186}</string>
            </dict>
            <key>throw/player1_throw_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,787},{111,116}}</string>
                <key>offset</key>
                <string>{-36,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,26},{111,116}}</string>
                <key>sourceSize</key>
                <string>{261,186}</string>
            </dict>
            <key>throw/player1_throw_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,678},{107,130}}</string>
                <key>offset</key>
                <string>{-45,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,12},{107,130}}</string>
                <key>sourceSize</key>
                <string>{261,186}</string>
            </dict>
            <key>throw/player1_throw_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,608},{107,132}}</string>
                <key>offset</key>
                <string>{-53,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,9},{107,132}}</string>
                <key>sourceSize</key>
                <string>{261,186}</string>
            </dict>
            <key>trip/player1_trip_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,671},{131,114}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,28},{131,114}}</string>
                <key>sourceSize</key>
                <string>{261,186}</string>
            </dict>
            <key>trip/player1_trip_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,104}}</string>
                <key>offset</key>
                <string>{47,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,43},{165,104}}</string>
                <key>sourceSize</key>
                <string>{261,186}</string>
            </dict>
            <key>trip/player1_trip_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,270},{141,84}}</string>
                <key>offset</key>
                <string>{44,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,63},{141,84}}</string>
                <key>sourceSize</key>
                <string>{261,186}</string>
            </dict>
            <key>trip/player1_trip_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{147,72}}</string>
                <key>offset</key>
                <string>{42,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,81},{147,72}}</string>
                <key>sourceSize</key>
                <string>{261,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>girl.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a19426dce93a343bd4ad4e682a3e7deb$</string>
            <key>textureFileName</key>
            <string>girl.png</string>
        </dict>
    </dict>
</plist>
